@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
section {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  max-width: 50rem;
  margin: auto;
  padding: 1rem;
}

#questions-to-show {
  margin: 1rem;
}

#questions {
  display: flex;
  flex-direction: column;
}

#answersBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

#questions input[type="radio"],
#answersBtn input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
#questions label,
#answersBtn label {
  display: inline-block;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 1.2rem;
  font-weight: 700;
  border: 2px solid #444;
  border-radius: 999px;
  margin: 0.5rem;
}
#questions label:hover,
#answersBtn label:hover {
  background-color: #dfd;
}
#questions input[type="radio"]:focus + label,
#answersBtn input[type="radio"]:focus + label {
  background-color: red;
}
#questions input[type="radio"]:checked + label,
#answersBtn input[type="radio"]:checked + label {
  background-color: #bfb;
  border: 2px solid #4c4;
}
#inputs {
  flex-direction: column;
}
#region {
  flex-direction: column;
}
.select-region {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select-region select {
  width: fit-content;
  align-self: center;
}
h1 {
  font-size: 2rem;
  color: #444;
  margin: 1rem;
}

#questionResult h1 {
  font-size: 3rem;
}
#timer-span {
  font-size: 4rem;
}
h2 {
  font-size: 1.25rem;
  color: #444;
  margin: 0.5rem;
}
h3 {
  margin: 0.5rem;
  font-weight: 400;
}
h4 {
  margin: 0.2rem;
  font-size: 0.8rem;
}
button {
  padding: 0.5rem 2rem;
  max-height: 3.5rem rem;
  margin: 1rem;
  font-size: 1rem;
  background-color: black;
  color: #fff;
  cursor: pointer;
  border-radius: 999px;
  border: none;
  width: fit-content;
  align-self: center;
}
.answerBtn {
  background-color: white;
  color: black;
  border: 1px solid black;
}
#numbersOfUser {
  margin: 2rem;
}

fieldset {
  border: none;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
span {
  margin: 0.5rem;
  border-radius: 8px;
  padding: 12px;
}
.fail {
  background-color: rgb(255, 215, 215);
  border: 2px solid rgb(200, 90, 90);
}
.success {
  background-color: rgb(194, 255, 193);
  border: 2px solid rgb(92, 213, 22);
}
.waiting {
  background-color: rgb(221, 239, 255);
  border: 2px solid rgb(70, 114, 197);
}
.resultKey {
  color: blue;
}
#questionResult {
  min-height: 22rem;
}
/* spinner */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(59, 59, 59);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

select {
  font-size: 1rem;
  font-weight: 200;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: 1px solid black;
  border-radius: 4px;
}
select:active,
select:focus {
  outline: none;
  box-shadow: none;
}

#response {
  color: white;
  border-radius: 16px;
  width: auto;
  padding: 8px;
}

#question {
  color: white;
  padding: 8px;
  border-radius: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#score {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
}

.region-score {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 5rem;
}
